<div class="row">
  <div class="col-xs-12">

        <!-- START panel -->
        <div class="panel panel-success">
          <div class="panel-heading">
            <div class="post-title">
              <!-- Title--> 
              <h4>Check the 'PULSE' on open source projects before using them</h4>
            </div>
          </div>
          <div class="panel-body">
            <!-- Text (description) -->
            <p class="post-text text-muted">
              There was an answer explaining that 3-way data binding would never work with CodeMirrors merge mode as it has to have the Codemirror (i.e. Firepad) instance open and available for concurrent editing by many people, against the one-to-one relation between user-and-code for the Git Merge process. However, an answer should be a single persons answer. Had we checked the 
            </p>
          </div>
        </div>
        <!-- END panel -->

        <!-- START panel -->
        <div class="panel panel-success">
          <div class="panel-heading">
            <div class="post-title">
              <!-- Title--> 
              <h4>Know yourself and your goals</h4>
            </div>
          </div>
          <div class="panel-body">
            <!-- Text (description) -->
            <p class="post-text text-muted">
              As a dynamic-duo, we decided to pivot on Monday morning. We both had a feeling that we hadn't been coding enough for the few weeks of class. However, it occurred to us that it wasn't the coding that was at the heart of the issue. Instead, we realized that hopping from tool to tool, from framework to framework, left us feeling like we didn't understand how to solve problems effectively with any given framework. <strong>Therefore, we decided to reorient the project to meet our personal needs and goals. </strong> Namely, we decided that we wanted to get _VERY_ good at a single set of tools in Javascript. So we set out to build an end-to-end JS app based on the MEAN stack.
            </p>
          </div>
        </div>
        <!-- END panel -->

        <!-- START panel -->
        <div class="panel panel-success">
          <div class="panel-heading">
            <div class="post-title">
              <!-- Title--> 
              <h4>Think about the long-term</h4>
            </div>
          </div>
          <div class="panel-body">
            <!-- Text (description) -->
            <p class="post-text text-muted">
              We did not want to finish this project, just to finish the project. It is time for us to get serious about sustaining interest and enjoyment in the development process. To do that we took the "hard-way" this first week, knowing the presentation was a <em>check point</em> not a <em>dead line</em>. For the next month we will focus on kicking ass at JS, specifically Angular.
            </p>
          </div>
        </div>
        <!-- END panel -->

        <!-- START panel -->
        <div class="panel panel-success">
          <div class="panel-heading">
            <div class="post-title">
              <!-- Title--> 
              <h4>Pair-programming has its limits</h4>
            </div>
          </div>
          <div class="panel-body">
            <!-- Text (description) -->
            <p class="post-text text-muted">
              We spent the first two days paired the entire time. The first night we rocked Rails and had the back end built in only a few hours. However, we were both comfortable with Rails, so we could fly. When it came to Express and Mongo, which neither of us had ever used, we stumbled and it is possible that pairing only heightened frustration, as each person has a particular learning strategy. <em>Bottom-line, pair when each person has at-least a basic understanding of the tech at-hand, and ideally with one knowing it fairly well.</em>
            </p>
          </div>
        </div>
        <!-- END panel -->

        <!-- START panel -->
        <div class="panel panel-success">
          <div class="panel-heading">
            <div class="post-title">
              <!-- Title--> 
              <h4>Avoid 'Magic' when possible</h4>
            </div>
          </div>
          <div class="panel-body">
            <!-- Text (description) -->
            <p class="post-text text-muted">
              We started in JS with the `angular-fullstack` Yeoman generator. It scaffolds out a fairly opinionated architcture, which if you are unfamiliar with any component can be overwhelming. After using that for two days and struggling along the way, we went back to the proverbial drawing board, to tutorials and chose to go with <a href="http://start.jcolemorrison.com/building-an-angular-and-express-app-part-1/">Building an Angular and Express App (parts 1-3) by J Cole Morrison</a>, which is a detailed tutorial on setting up a simple "MEAN" app with a rails-esque tilt. This made our transition to the new stack a bit more approachable.
            </p>
          </div>
        </div>
        <!-- END panel -->

  </div>
</div>