<div class="jumbotron">
  <h1>'Git some help from a Git Glorious Community!</h1>
  <p class="lead">
    <img src="images/MEAN_jarroba.png" alt="MEAN Stack"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p>
    <a href="#/signup" class="btn btn-lg btn-success">
    Signup 
    <i class="fa fa-chevron-circle-right"></i>
    </a>
  </p>
</div>

<div class="row marketing">
  <p>
    We wanted to provide a real-time service for people to ask questions and revive help from the community. There would be a relatively simple 'Question' (post) entry screen. A user would enter key data such as, the problem files, or entire repo, the last working commit and any additional files required for the project to run. Then a community member would respond either in real-time via chat, or as an 'Answer' (post) Each answer would use Code Mirrors merge mode to present the original code along-side the proposed changes.
  </p>
  <p>
    Ideally the answer could then be 'automatically' merged into the original repo using the [Nodegit](http://www.nodegit.org/) API.
</div>
