<div class="row">
  <div class="col-xs-12">

    <form ng-submit="showCreatePostForm()">
      <button ng-submit="showCreatePostForm()" class="btn btn-block btn-primary"> <i class="fa fa-heart fa-fw"></i> Git-Help Someone</button>
      <hr>
    </form>
    
    <div ng-show="createPostForm">
      <!-- use same styles from signup -->
      <!-- <div class="signup-container">
        <div class="col-xs-12">
          <h3 class="signup-header">Git-Give Some Advice</h3>
          <hr>
        </div> -->
        <!-- START createPost form -->
        <!-- <div class="col-xs-12"> -->
          <form ng-submit="createPost()" class="form-horizontal">
            <fieldset>
            <!-- Title-->
            <div class="form-group">
              <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
              <input ng-model="newPost.title" type="text" placeholder="Title" class="form-control input-md" required="">
              <span class="help-block">please keep under 50 chars</span>  
              </div>
            </div>
            <!-- Resource URL-->
            <div class="form-group">
              <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
              <input ng-model="newPost.url" type="text" placeholder="where did you find this?" class="form-control input-md">
              <span class="help-block">let us know where you found this little gem</span>  
              </div>
            </div>
            <!-- Text (description) -->
            <div class="form-group">
              <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                <textarea ng-model="newPost.text" class="form-control" cols="30" rows="5"></textarea>
                <span class="help-block">and you found this interesting or helpful because...</span> 
              </div>
            </div>
            <!-- Snippet -->
            <div class="form-group">
              <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 add-border">
                <textarea ui-codemirror ng-model="newPost.snippet" ui-codemirror-opts="{
                                                    'value': '//snippet goes here...',
                                                    'theme': 'vibrant-ink',
                                                    'mode' : 'javascript'
                                                    }"
                class="form-control"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                <button class="btn-large btn-block btn-primary">Save Post</button>
              </div>
            </div>
            </fieldset>
          </form>
        <!-- </div> -->
        <!-- END createPost form -->
      <!-- </div> -->
    </div>

    <!-- START post list -->
    <div ng-repeat="post in posts track by $index">
      
      <!-- START editPost form -->
      <form ng-submit="updatePost()" ng-show="editing" class="form-horizontal">
        <legend>Edit Your Advice</legend>
        <fieldset>
        <!-- Title-->
        <div class="form-group">
          <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
          <input ng-model="post.title" type="text" placeholder="Title" class="form-control input-md" required="">
          <span class="help-block">please keep under 50 chars</span>  
          </div>
        </div>
        <!-- Resource URL-->
        <div class="form-group">
          <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
          <input ng-model="post.url" type="text" placeholder="where did you find this?" class="form-control input-md">
          <span class="help-block">let us know where you found this little gem</span>  
          </div>
        </div>
        <!-- Text (description) -->
        <div class="form-group">
          <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
            <textarea ng-model="post.text" class="form-control" cols="30" rows="5"></textarea>
            <span class="help-block">and you found this interesting or helpful because...</span> 
          </div>
        </div>
        <!-- Snippet -->
        <div class="form-group">
          <div class="col-xs-12 ">
            <textarea ui-codemirror="{ onLoad : codemirrorLoaded }"  ng-model="post.snippet"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <button class="btn-large btn-block btn-primary">Update Post</button>
          </div>
        </div>
        </fieldset>
      </form>
      <!-- END editPost form -->


      <!-- START postDetails -->
      <div ng-hide="editing">
        <!-- START panel -->
        <div class="panel panel-success">
          <div class="panel-heading">
            <div class="post-title">
              <!-- Title--> <!-- Resource URL-->
              <h4>{{post.title}} 
                <a class="post-url" href="{{post.url}}"><i class="fa fa-globe fa-fw"></i></a>
              </h4>
            </div>
          </div>
          <div class="panel-body">
            <!-- Text (description) -->
            <p class="post-text text-muted">{{post.text}}</p>
          </div>
        </div>
        <!-- END panel -->

        <!-- START codemirror instance -->
        <div class="row">
          <div class="col-xs-12">
            <ui-codemirror class="post-snippet" ui-codemirror-opts="{
                                                'value': '{{post.snippet}}',
                                                'theme': 'vibrant-ink',
                                                'mode' : 'javascript',
                                                'lineNumbers': 'true',
                                                'lineWrapping': 'true'
                                                }"
            ></ui-codemirror>
          </div>
        </div>
        <!-- END codemirror instance -->

        <div class="divider"></div>

        <div class="row">
          <div class="col-xs-12">
            <!-- START Post Actions -->
            <div class="btn-group btn-group-justified" role="group" aria-label="Post Action Button Group">
              <!-- Share-->
              <div class="btn-group" role="group">
                <button class="btn btn-primary"><i class="fa fa-share-square-o fa-fw"></i> Share</button>
              </div>
              <!-- Edit-->
              <div class="btn-group" role="group">
                <button ng-click="editPost()" class="btn btn-warning"><i class="fa fa-pencil fa-fw"></i> Edit</button>
              </div>
              <!-- Delete-->
              <div class="btn-group" role="group">
                <button ng-click="deletePost()" class="btn btn-danger" ><i class="fa fa-trash-o fa-fw"></i> Delete</button>
              </div>
            </div>
            <!-- END Post Actions -->
          </div>
        </div>

        <div class="divider"></div>

      </div>
      <!-- END postDetails -->
    </div>
    <!-- END post list -->

  </div>
</div>