<div class="signup-container">
  <div class="col-md-12">
    <h3 class="signup-header">Signup as a New User</h3>
    <hr>
  </div>
  
  <!-- START signup form -->
  <div class="signup-form">
    <form class="form-horizontal">
      <!-- First Name input-->
      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-4 col-lg-4">
        <!-- a Form's <input> tag will have ng-model attr so angular is aware of
             anything typed into that input and access it -->
        <input id="firstname" name="firstname" ng-model="signup.user.firstname" type="text" placeholder="John" class="form-control input-md">
        </div>
      </div>
      <!-- Last Name input-->
      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-4 col-lg-4">
        <input id="lastname" name="lastname" ng-model="signup.user.lastname" type="text" placeholder="Frusciante" class="form-control input-md">
        </div>
      </div>
      <!-- Email input-->
      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-4 col-lg-4">
        <input id="email" name="email" ng-model="signup.user.email" type="text" placeholder="redhot@chilipeppers.com" class="form-control input-md">
        </div>
      </div>
      <!-- Password input-->
      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-4 col-lg-4">
          <input id="password1" name="password1" ng-model="signup.user.password1" 
            type="password" placeholder="password" class="form-control input-md">
        </div>
      </div>
      <!-- Password re-entry -->
      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-4 col-lg-4">
          <!-- notice signup.user.password2 on the confirmation. -->
          <input id="password2" name="password2" ng-model="signup.user.password2" 
            type="password" placeholder="retype password" class="form-control input-md">
        </div>
      </div>
      <!-- Submit button-->
      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-4 col-lg-4">
          <button ng-click="signup.submit()" id="signup" name="signup" class="btn btn-success btn-block">Signup!</button>
        </div>
      </div>
    </form>
  </div>
  <!-- END signup form -->

</div>